<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Berechtigung Akzeptieren</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list lines="none">
    <ion-item>
      <ion-icon name="map-outline" slot="start" size="large"></ion-icon>
      <ion-label>GPS</ion-label>
      <ion-toggle [(ngModel)]="gpsEnabled" slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="camera-outline" slot="start" size="large"></ion-icon>
      <ion-label>Kamera</ion-label>
      <ion-toggle [(ngModel)]="cameraEnabled" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button
    expand="block"
    [disabled]="!allAccepted"
    [color]="allAccepted ? 'primary' : 'medium'"
    (click)="weiter()">
    Weiter
  </ion-button>
</ion-footer>
