<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/authorization"></ion-back-button>
    </ion-buttons>
    <ion-title>Posten Übersicht</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list lines="full">
    @for (item of posten; track item.id) {
      <ion-item button (click)="openPosten(item.id)">
        <ion-label>
          <h2>{{ item.icon }} {{ item.title }}</h2>
          <p>{{ item.description }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" color="danger" (click)="schnitzeljagdBeenden()">
    Schnitzeljagd beenden
  </ion-button>
</ion-footer>
