<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="schnitzeljagdBeenden()">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>Posten Übersicht</ion-title>
    <span slot="end" class="header-timer">{{ timerDisplay() }}</span>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    @for (posten of postenList; track posten.id) {
    <ion-item button (click)="openPosten(posten.id)" lines="full">
      <ion-label>
        <h3>{{ posten.title }}</h3>
        <p>{{ posten.description }}</p>
      </ion-label>
      <span slot="end" style="font-size: 1.5rem;">{{ posten.icon }}</span>
    </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" color="danger" (click)="schnitzeljagdBeenden()">
    Schnitzeljagd Beenden
  </ion-button>
</ion-footer>
