<ion-header>
  <ion-toolbar>
    <ion-title>Posten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="stations-content">
  <div class="stations-list">
    @for (station of stations; track station.id) {
    <a routerLink="/station/{{ station.id }}" class="station-link">
      <ion-card class="station-card">
        <ion-card-header class="station-header">
          <ion-card-title class="station-title">{{ station.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content class="station-body">
          <div class="station-text">{{ station.text }}</div>
          <div class="station-image">
            <img [src]="station.pic" [alt]="station.title" />
          </div>
        </ion-card-content>
      </ion-card>
    </a>
    }
  </div>
</ion-content>
